@import '../../variables';
@import '../../mixins';

.example-container {
  height: 100%;

  .sidebar {
    background-color: $primary;
    width: $sidebar-collapsed-width;
    min-height: 100vh;

    @include media-breakpoint-up(md) {
      width: $sidebar-base-width !important;
    }

    .sidebar-brand {
      text-decoration: none;
      padding: 1rem;
      text-align: center;
      letter-spacing: 0.05rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      color: white;
      height: $topbar-base-height;

      .sidebar-brand-icon{
        font-size: 2rem;
      }

      .sidebar-brand-text {
        font-size: 1.5rem;
        display: none;
        @include media-breakpoint-up(md) {
          display: inline-block;
        }
      }
    }

    .mat-divider {
      border-color: rgba(255,255,255,.15);
      margin: 0 1rem 1rem;
    }

    .mat-list-base {
      .mat-list-item,
      .mat-list-option {
        text-transform: uppercase;
        padding: 0;

        .mat-list-item-content {
          font-size: 0.65rem;
          padding: 0 !important;
          @include media-breakpoint-up(sm) {

          }
        }

        .mat-button-base {
          // padding: 0;
          font-weight: 400;

          .mat-icon {
            opacity: .5;
          }
        }
      }
      //   .mat-icon-button {
      //     text-align: center;

      //     @include media-breakpoint-up(sm) {
      //       text-align: left;
      //     }
      //   }
    }

    .sidebar-heading {
      opacity: .5;
      color: white;
      padding: 0 1rem;
      font-weight: 800;
      font-size: 0.65rem;
      text-transform: uppercase;
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }
  }
}

mat-drawer-content {
  height: 100vh;
}

.fill-remaining-space {
  // fills the remaining space via flexbox. toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.averages {
  mat-card {
    margin-bottom: 15px;

    p {
      margin: 0;
      font-weight: 700;
      text-transform: uppercase;
    }

    .label {
      font-size: 12px;
    }

    .value {
      margin-top: 10px;
      font-size: 20px;
      .units {
        color: gray;
        font-size: 12px;
      }
    }

    .mat-icon {
      font-size: 40px;
      width: 40px;
      height: 40px;
    }
    @include media-breakpoint-down(md) {
      .mat-icon {
        font-size: 30px;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.chart-container {
  position: relative;
  height: 10rem;
  @include media-breakpoint-up(md) {
    height: 20rem;
  }
}
