<mat-drawer-container class="example-container">
  <mat-drawer mode="side" #sidenav [(opened)]="opened" role="navigation" class="sidebar">
    <a class="sidebar-brand" href="index.html">
      <div class="sidebar-brand-icon">
        <mat-icon inline="true">opacity</mat-icon>
      </div>
      <span class="sidebar-brand-text">GluBoard</span>
    </a>

    <mat-divider></mat-divider>

    <!-- heading -->
    <div class="sidebar-heading">Intervals</div>

    <!-- ranges of dates -->
    <mat-list>
      <mat-list-item *ngFor="let range of defaultRanges">
        <button mat-icon-button mat-flat-button color="primary" (click)="onChangeRange(range)">
          <mat-icon inline="true">calendar_today</mat-icon>
          {{range.label}}
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-button color="primary" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

        <span color="page-title">Samples Board</span>

        <span class="fill-remaining-space"></span>

        <button mat-button role="button" aria-haspopup="true" (click)="openLogin()">
          <mat-icon inline="true">perm_identity</mat-icon> Login
        </button>

        <button mat-button type="button" class="" (click)="openPrint()">
          <mat-icon inline="true">print</mat-icon> Print
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="container" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
      <mat-card *ngFor="let item of lastAves"
        [ngStyle]="{'width': 100/lastAves.length + '%', 'border-bottom': '3px solid ' + item.color}" class="average">
        <mat-card-title class="text-xs" [ngStyle]="{'color': item.color}">
          {{item.label}}
        </mat-card-title>
        <mat-card-content>
          {{item.value}}
          <mat-icon>opacity</mat-icon>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container" fxLayout="row" fxLayoutAlign="space-between">
      <mat-card fxFlex="100">
        <mat-card-title>Values Chart</mat-card-title>
        <mat-card-content>
          <div class="chart-container">
            <canvas id="lineChart"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
      <mat-card fxFlex="50">
        <mat-card-title>Pre-breakfast, Sampling By Value</mat-card-title>
        <mat-card-content>
          <div class="chart-container">
            <canvas id="pieChart"></canvas>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="50">
        <mat-card-title>Average Coparison</mat-card-title>
        <mat-card-content>
          <div class="chart-container">
            <canvas id="chartHorizontalBar"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div [hidden]="samples || samplesErrMsg">
      <mat-spinner></mat-spinner>
      <h4>Loading...</h4>
    </div>
    <div *ngIf="samplesErrMsg">
      <h2>Error</h2>
      <p>{{samplesErrMsg}}</p>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
